# docker-compose.yml
version: '3.8'

services:
  db:
    image: postgres:16
    container_name: adventure-planner
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: adventure-planner-db

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql


volumes:
  postgres_data:




